.margem{
    display: flex;
    gap: 50px;
    font-size: 15pt;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    color: gray;
    font-family: sans-serif;
}
#assine{
    background-color: rgb(255, 0, 76);
    padding: 8px;
    font-size: 20pt;
    color:white;
    font-family: sans-serif;
}
.correios{
    display: flex;
    color: gray;
    justify-content: right;
    gap: 50px;
    position: absolute;
    right: 70px;
}
.linha_2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
#imgcorreios{
    position:absolute;
    left: 20px;
}
#festival{
    color: rgb(255, 0, 85);
}
.fds{
    justify-content: baseline;
}